.flex {
    display: flex;
    margin: 0 20vh;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 20px;
    width: 250px;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 3px 24px rgba(132, 132, 132, 0.16), inset 0px -3px 6px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
    height: 100px;
}

.header h5 {
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.card p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card span {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 50%;
}