.details {
    display: flex;
    margin: 8vh 20vh;
}

.description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.description h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.description p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

}


.links {
    margin: 0 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.links h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    width: 100%;
    padding-left: 30px;
    font-size: 17px;
    line-height: 26px;
    color: #858585;
}

.links h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
    color: #333333;
}

.links button {
    border: none;
    background-color: transparent;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 8px;
    width: 213px;
    height: 40px;
    border: 1px solid #666666;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0;
}

.button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #666666;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.date {
    padding-left: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.date p {
    padding-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
    flex: none;
    order: 1;
    flex-grow: 0;
}