.detailFront {
    background-color: #003145;
    color: #FFFFFF;
    display: flex;
    padding: 100px 20vh;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.details p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    flex: none;
    align-self: stretch;
    padding: 20px 0;
    flex-grow: 0;
}


.header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    margin-left: 20px;
    line-height: 63px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buttons button {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 6px 27px;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
}

.button {
    display: flex;
    column-gap: 10px;
    padding: 2px 2px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.del{
    display: none;
    justify-content: flex-start;
     border-radius:24px;
     border: 2px solid black;
    width: 450px;
    padding: 10px 5px;
    height: 196px;
    flex-direction: column;
    row-gap: 8px;
    position: absolute;
    top: 400px;
    left: 400px;
    background-color: #FFFFFF;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 210px;
}
.btn1{
    border-radius: 14px;
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 88px;
    height: 30px;
    background-color: #FFFFFF;
}
.btn2{
    border-radius: 14px;
   
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    width: 88px;
    height: 30px;
    background-color:#DF2C1D;
}
*{
    padding: 0;
    margin: 0;
}
.favorite {
    display: flex;
    align-items: center;
}

.favorite img {
    padding-right: 30px;
}

.date {
    border-left: 1px solid #F5F5F5;
}

.dateCircle {
    margin-left: 20px;
    padding: 6px 12px;
    gap: 4px;
    background: #255973;
    border-radius: 100px;
    display: flex;
    align-items: center;
    height: 40px;
}

.dateCircle img {
    border-right: none;
    padding: 0;
}

.dateCircle p {
    padding: 0 8px;
    margin: 8px 0;
}