.submissionForm {
    margin-left: 20vh;
    margin-top: 10vh;
    background-color: #FFFFFF;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 24px;
    padding: 10px 10vh;
}

.submissionForm input,
textarea {
    width: 80%;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.submissionForm h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #222222;
}

.hack-start input {
    width: 50%;
}

.main-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 44px;
    color: #333333;

}

.title {
    width: 480px;
    height: 38px;
   
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}



.description {

    height: 130px;
    border-radius: 10px;
    text-align: start;
    outline: none;
}

.count {
    margin-left: 400px;
    margin-top: 7px;
}

.image-sec {
    width: 80%;
    height: 70px;
    background-color: #f4eeeec3;
    border-radius: 24px;
    border: 2px dashed #b2b0b0e1;
}

.image-sec img {
    margin-left: 250px;
    margin-top: 8px;

}


input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}



.hack-main {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
}
.hack-main input{

     width: 242px;
     height: 38px;
     border-radius: 10px;
     outline: none;
     margin-top: 6px;

}
.hack-main input {
    width: 250px;
    height: 38px;
    border-radius: 10px;
    outline: none;
    margin-top: 6px;
}

.submit {
    text-align: center;
    color: #FFFFFF;
    background: #44924C;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 192px;
    height: 44px;
    margin-top: 20px;
}

.textsub {
    position: relative;
    top: 10px;
    font-weight: 700;
}